.vscode/
__pycache__/
bin/
ffmpeg.exe
ffmpeg
ffmpeg.zip
ffmpeg-master-latest-win64-gpl/
prebuilt-binaries/
certifi-*/
charset_normalizer-*/
idna-*/
pytubefix-*/
requests-*/
urllib3-*/
video_source.mp4
audio_source.mp3
output.mp4
